<!doctype html>
<html ng-app="myApp" >
<head>
<meta charset="utf-8">
<title>newclue</title>
  <script data-require="angular.js@1.3.9" data-semver="1.3.9" src="https://code.angularjs.org/1.3.9/angular.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css" />
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
                <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

     <script type="text/javascript"src="newclue.js">
    </script>
   
<link href="common/bootstrap-3.4/css/bootstrap-theme.css" rel="stylesheet" type="text/css">
    <link href="common/bootstrap-3.4/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="difficulty level.css" rel="stylesheet" type="text/css">

</head>

<body style="background-color:white" ng-controller="MyController">
    <form>
    
<script type="text/javascript">
function getwords() {
	
 
 
  var textbox = document.createElement('input');
textbox.setAttribute('type', 'text');

textbox.setAttribute("readOnly","true");



document.getElementById('textpost').appendChild(textbox).value=document.getElementById("tags2").value;
   
    
    



  


}


</script>
   
<header>
<div class="navbar navbar-default navbar-fixed-top navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="" class="navbar-brand">My clues</a>
                    <a href="" class="navbar-brand">Invite Friend</a>
                    <a href="" class="navbar-brand">Share</a>
                    
				</div>
		</header>
        <br><br><br>
                <br>
                
                <div class="grey">
			<div class="container">
             
				<div class="well" style="background-color:white;border-color:transparent;height:650px">
                

            
                <a href="homepage.html" ><img src="img/logo1.jpg" width="50px" height="50px"></a>
               
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="badges.html"><img src="img/paward.jpg" width="30px" height="30px">
Awards
</a>

<a href="badges.html"><img src="img/baward.png" width="30px" height="30px">
Achievements
</a>
<br><br><br>
<div id="box">
<div ng-app class="alert alert-dismissible alert-success"style="width:650px;height:550px;background-color:white;border-color:transparent">
   
        <div id="drop1">

<select style="border-radius:10px;width:210px;height:40px"  ng-model="Countryselected" ng-options="  coun.country for coun in country" ng-change="getCity()">
     <option value="">Select Country</option>
  

</select>
    </div>
       
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="www.google.com"><img src="img/Google-Maps-icon.png" alt="" style="width:75px;height:75px"></a>
<br>
<br>
<div>  

<select style="border-radius:10px;width:210px;height:40px" ng-model="cityselect" ng-disabled="!Countryselected" ng-options=" c.name  for c in Citydetails ">
    <option  value="">Select City</option>
                                      
                                      
  
  
</select>
    </div>
         

<div class="user_voting" id="faith_voting">

		    <fieldset7 class="rating" id="rating_1">Difficulty:
            <input type="radio" id="star7" name="rating" value="7" /><label for="star7" title="LEVEL 7">7 stars</label>
            <input type="radio" id="star6" name="rating" value="6" /><label for="star6" title="LEVEL 6">6 stars</label>
		    <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="LEVEL 5">5 stars</label>
		    <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="LEVEL 4">4 stars</label>
		    <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="LEVEL 3">3 stars</label>
		    <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="LEVEL 2">2 stars</label>
		    <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="LEVEL 1">1 star</label>
		</fieldset>
  
  </div>
<br>
<br>

<input type="text"  id="tags"  ng-model ="placeselected" ng-keyup="complete()" placeholder="Specific place(Like Taj Mahal not Agra)"style="border:2px solid grey;border-radius:5px;width:210px;height:40px"  /><br/>
<br>
<textarea rows="2" cols="4" id="Clue" name="Type your clue here" placeholder="Type your clue here" style="border:2px solid grey;border-radius:5px;width:210px;height:40px" />
</textarea>
<br>
<br>
<textarea  rows="2" cols="4" id="Description" name="description" placeholder="Do you want to give a more detailed description/rationale for the clue"style="border:2px solid grey;border-radius:5px;width:210px;height:45px" />
</textarea>

<br>
<br>
<label for="tags2"><b><font size="4" face="footlight mt light"><b>Tags</b></font></b>

<input id="tags2" type="text " placeholder="Post Tags"style="border:2px solid grey;border-radius:5px;width:350px;height:40px" />
 <button onclick="getwords()">Post </button>
<p id="para"></p>




&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<div id="textpost">
</div>


&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<div class="container">
&nbsp;&nbsp;&nbsp;
	<button type="submit" class="btn btn-info" data-toggle="modal" data-target="#modal-1"style="background-color:light blue;border-color:black">Save and Submit</button>
    &nbsp;&nbsp;&nbsp;&nbsp;
<button type="button" class="btn btn-info"style="background-color:light blue;border-color:black">&nbsp;&nbsp;Save for later &nbsp;&nbsp;</button>


		<div class="modal fade" id="modal-1">
        <div id="popup2">
			<div class="modal-dialog modal-lg"style="width:400px;height:200px">
				<div class="modal-content">
					 <div class="modal-header">
                     
                   
                    
					 	
					 	
					 </div>
					 <div class="modal-body">
                     
					 	<div class="navbar navbar-default navbar-fixed-top navbar-inverse">
                         <button type="button" style="color:white"class="close" data-dismiss="modal">&times;</button>
                        
			<div class="container">
            
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
                    
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
                    
					<label class="navbar-brand">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Clue Saved !</label>
                    
                    <br>
                    <br>
                   <label class="navbar-brand">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;If Validated You Will Get +2.2 
                   &nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp&nbsp;footprint</label>
                    
                    
                    
				</div> 
					 </div>

					 
				</div>
			</div>
		</div>
        
        </div>
        
       
	</div>



	</div>
    
       </div>
       
    
   
    </div></div></div></div></div></div>
    
   
    
    
                    
                    

 




        
       
<script src="js/bootstrap.min.js"></script>
    </form>
</body>
</html>
